[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
blinker = "==1.4"
brotlipy = "==0.7.0"
certifi = "==2021.5.30"
mwclient = "*"

[requires]
python_version = "3.7"
